name: Lint

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Lua Language Server
        run: |
          LUA_LS_VERSION=3.13.6
          LUA_LS_URL="https://github.com/LuaLS/lua-language-server/releases/download/${LUA_LS_VERSION}/lua-language-server-${LUA_LS_VERSION}-linux-x64.tar.gz"
          mkdir -p lua-language-server
          curl -L $LUA_LS_URL | tar zx -C lua-language-server
          echo "$(pwd)/lua-language-server/bin" >> $GITHUB_PATH

      - name: Run Linter
        run: lua-language-server --check .
